@tailwind base;
@tailwind components;
@tailwind utilities;


body{overflow-x: hidden;
overflow-y: hidden;
background-color: rgba(17, 25, 40, 0.75);
}

  html,body,:root{
    height: 100%;
  }

/* body{
    height: 100vh;
  background: url('/bg.png') center / cover no-repeat; 
} */
